<li><a href="/logout">Logout!</a></li>

<h1>Clerk Menu</h1>

<li><a href="/tool">Check Tool Availability </a></li>
<li><a href="/ViewProfile" >View Profile</a></li>
<li><a href = "/makeReservation">Make Reservation</a></li>